#pragma once
// Only used when POST_POWERCH is enabled
#define URL_POWERCH "https://example.invalid/api/data"

// Only used when POST_MEENT is enabled
#define URL_MEENT "https://example.invalid/api/data/"
static const char* MEENT_API_VERSION = "v0.3";
static const char* MEENT_AUTH_TOKEN = "Bearer xxxxxxxxxxxxxxxx";


